.new-passengers-button {
    width: calc(35%);
    height: calc(8%);
    border-radius: 10px;
    border: 0.5px solid #000;
    background: #585E97;
    color: #fff;
    font-size: 40px;
    font-family:  Kaiti SC;
    margin-bottom: 2%;
    cursor: pointer;
}